{% extends 'account_base.html' %}
{% block title %}
Resume Builder - Register
{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    {% include 'account_header.html' %}

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Reset Your Password</h5>
                                <p class="text-center small">Enter your email to receive reset instructions</p>
                            </div>

                            {% if form.errors %}
                            <div class="alert alert-danger">
                                Please correct the error{% if form.errors|length > 1 %}s{% endif %} below.
                            </div>
                            {% endif %}
                            <form method="post" action="{% url 'account_reset_password' %}"
                                class="row g-3 needs-validation" novalidate>
                                {% csrf_token %}

                                <div class="col-12">
                                    <label for="id_email" class="form-label">Email Address</label>
                                    <input type="email" name="email" class="form-control" id="id_email" required
                                        placeholder="Enter your email">
                                    <div class="invalid-feedback">
                                        Please enter your email address.
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Send Reset Email</button>
                                </div>
                            </form>

                            <div class="col-12 mt-3">
                                <p class="small mb-0">
                                    <a href="{% url 'account_login' %}">Back to Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}